
p{
  color: black;
}
h1,h2,h4,h4,h5{
  color: black;
}
.app-header, .app-footer {
  background: rgb(85,187,176);
  background: linear-gradient(90deg, rgba(85,187,176,1) 20%, rgba(110,221,169,1) 40%, rgba(121,216,120,1) 100%);
}

.details-section {
  padding: 1rem 1.5rem;
  background-color: rgb(227, 232, 237);
}

.map-container {
  height: 67vh;
  max-height: 100%;
  width: 100%;
}

.loading-spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}